html,
body {
    margin: 0;
    padding: 0;
    color: #e4d9d9;
    background-color: #373232;
}
 
section {
    width: 70vw;
    margin: 2.78vw auto;
}


.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.slider-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.slider-slides {
    width: 400%;
    transition: transform 0.8s ease;
    display: flex;
}

.slider-text {
    width: 50%;
    display: none;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 2.5s ease;
}

.slider-text p {
    width: 50vw;
}

.slider-slides img {
    width: 70vw;
    height: 34.72vw;
}

.slider-controls {
    text-align: right;
    margin-top: 2.04vw;
}

.slider-controls label {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 4px 4px 4px;
    padding: 0;
    background-color: #cccccc;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    transition: background-color 0.8s, transform 0.2s;
    cursor: pointer;
}

.slider-controls label:hover {
    transform: scale(1.2); /* Увеличиваем размер при наведении */
}

/* Эффект нажатия */
.slider-controls label:active {
    transform: scale(0.8); /* Уменьшаем размер при нажатии */
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"] {

    background-color: #1b1a1a;
    transform: scale(1.2); /* Увеличиваем размер активного контрола */
    cursor: default;
}

/* Ваши текущие стили остаются без изменений */


#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-70vw);
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-140vw);
}

#btn-4:checked ~ .slider-inner .slider-slides {
    transform: translate(-210vw);
}

#btn-1:checked ~ .slider-inner #text-1,
#btn-2:checked ~ .slider-inner #text-2,
#btn-3:checked ~ .slider-inner #text-3,
#btn-4:checked ~ .slider-inner #text-4 {
    display: block;   
    opacity: 1; 
    visibility: visible; 
}
